@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply bg-green-800 px-9 py-3 text-white border-white rounded-md capitalize font-bold hover:opacity-90
    ease-in duration-200;
}

.card_btn{
    @apply w-full px-9 py-3 bg-black text-white hover:text-black hover:bg-white rounded-md capitalize font-bold  cursor-pointer ease-in duration-200;
}

.title{
    @apply text-3xl md:text-6xl font-bold leading-[1.2];
}

.user-text {
    display:none; 
}

.user-text.active-text {
    display: block;
    animation: moveup 1s linear forwards;
}

.user-pic{
    transition: all 0.2s ease;
}


.user-pic.active-pic{
    border: 2px solid #015f06;
}

@keyframes moveup{
    0%{
        margin-top: 40px;
        opacity: 0;
    }

    50%{
        margin-top: 20px;
        opacity: 0.1;
    }

    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

.card{
    perspective: 1000px;
}

.front,
.back{
    backface-visibility: hidden;
    transition: all 0.4s ease;
}

.front{
    overflow: hidden;
}

